@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#ffbac2, #da99a0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h2 {
    color: #fff;
    font-size: 2em;
    margin-bottom: 20px;
    margin-top: 80px;
}

label {
    color: #fff;
    font-size: 1.2em;
    display: block;
    margin-bottom: 8px;
}

input, button {
    padding: 8px;
    font-size: 0.9em;
    border-radius: 20px;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
    background: #fff;
    color: #DB838E;
    border: none;
    border-radius: 20px;
    font-size: 0.8em;
    padding: 10px 20px;
}

h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 2em;
}

#payrollTable {
    width: 90%; 
    margin: 20px auto;  /* Center the table horizontally with margin */
    border: 2px solid #fff;
    border-collapse: collapse;
}

#payrollTable th, #payrollTable td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

#payrollTable th {
    background-color: #333;
    color: #fff;
}
#payrollTable tfoot{
    border: 1px solid #fff;
    padding: 8px;
    font-weight: bold;
    color: #333;
}

#payrollTable td {
    background-color: #fff;
    color: #333;
}

#btn {
    text-decoration: none !important;
    display: inline-block;
    padding: 8px 30px;
    margin-bottom: 80px;
    border-radius: 40px;
    background: #fff;
    color: #DB838E;
    font-size: 0.85em; 
    z-index: 11;
}

#btn::before {
    content: none;
}

#employeeName, #daysWorked, #dailyRate, #deleteLine, #deductionAmount {
    text-align: center;
    border: none;
    font-size: 0.85em;
}

#dlgConfirmCancel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #fff;
}

#dlgConfirmCancel form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dlgConfirmCancel form h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: larger;
    color: #333;
}

#btnConfirm, #btnCancel {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.8em;
}

#btnConfirm {
    background-color: #DB838E;
    color: #fff;
    border: none;
}

#btnCancel {
    background-color: #fff;
    color: #DB838E;
    border: 2px solid #DB838E;
}

#dlgConfirmCancel form button {
    margin-right: 10px;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 999;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: #333;
}
nav a {
    color: white; /* Set the color of the navigation links */
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}
nav .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
nav ul li a:hover ,
nav ul li a.active{
    background: #fff;
    color: #DB838E;
}
footer{
    background-color: #333;
    color: white;
    padding: 13px; /* Increase the padding to make the footer bigger */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
footer p{
    color: #fff;
}